<!doctype html>
<html lang="en">
    <head>
        {% include meta %}
        <title>Daniel Canetti • Blog • {{ postTitle }}</title>
    </head>
    <body class="{{ pageClass }}">
      <div class="wrapper">
        {% include nav %}
        <div id="top" class="header" style="background-image: url('{{ postFeatureImage }}');">
          <div class="content">
            <h1 class="title">{{ postTitle }}</h1>
          </div>
        </div>
        <div class="content">
          {{ content }}
          <a href="#top" class="top"><img src="/images/top.svg" /></a>
        </div>
      </div>
      {% include footer %}
    </body>
</html>
