<!doctype html>
<html lang="en">
    <head>
        {% include meta %}
        <meta name="robots" content="{{ seoIndex }}" />
        <title>Daniel Canetti • Case Studies • {{ pageTitle }}</title>
    </head>
    <body class="{{ pageClass }}">
      <div class="wrapper">
        {% include nav %}
        <div class="header" style="background-image: url('{{ projectFeatureImage }}');">
          <div class="content">
            <h1 class="title">{{ pageTitle }}</h1>
            <p class="subtitle">{{ pageSubTitle }}</p>
            <a class="project-link fancy-hover" href="{{ projectLink }}" target="_blank">Visit Website</a>
          </div>
        </div>
        <div class="content">
          {{ content }}
        </div>

        {% include footer %}
      </div>
    </body>
</html>
