<!doctype html>
<html lang="en">
    <head>
        {% include meta %}
        <meta name="robots" content="{{ seoIndex }}" />
        <title>Daniel Canetti • Case Studies • {{ pageTitle }}</title>
        <meta property="og:locale" content="en_GB" />
        <meta property="og:site_name" content="Daniel Canetti" />
        <meta property="og:title" content="{{ pageTitle }}" />
        <meta property="og:description" content="{{ projectExcerpt }}" />
        <meta property="og:url" content="https://danielcanetti.com{{ page.url }}" />
        <meta property="og:image" content="https://danielcanetti.com{{ projectFeatureImage }}" />
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:title" content="{{ pageTitle }}">
        <meta property="twitter:description" content="{{ projectExcerpt }}">
        <meta property="twitter:image" content="https://danielcanetti.com{{ projectFeatureImage }}">
        <meta property="twitter:url" content="https://danielcanetti.com{{ page.url }}">
        <meta property="twitter:site" content="@Dan_Canetti">
        <meta property="twitter:creator" content="@Dan_Canetti">
    </head>
    <body class="sub {{ pageClass }}">
      {% include nav %}
      <div class="body">
        <div class="body__section body__section--intro">
          <h1 class="title">{{ pageTitle }}</h1>
          <a class="l" href="{{ projectLink }}" target="_blank">Visit Website</a>
        </div>
      </div>
      <div class="body__section body__section--content">
        {{ content }}
      </div>
      {% include footer %}
    </body>
</html>
